body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

div.nice-padding > * {
  padding-top: 20px;
}

.error {
  color: red;
}

.success {
  color: green;
}